{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homeet</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/homeet.css' %}">
  </head>
  <body>
    <header class="header">
      <div id="head_div1">
        <span id="text1"> homeet </span>
        <br />
        <span id="text2"> HSE </span>
      </div>
      <div id="head_div2">
        <button class="navigation_button">Выход из аккаунта</button>
      </div>
    </header>

    <main class="main">
      <div>
        <button class="navigation_button" id="back_button_2">Назад</button>
      </div>
      <div id="main_div1">
        <span id="heading1">Создание профиля</span>
        <span id="heading_add"> / Образование</span>
      </div>
        <br>
      <div class="grey_line"><div class="purp_line_2"></div></div>

      <br />
      <br />
            <br />
            <br />
            
      <div id="main_wrapper">
        <div id="left_part">
          <form id="main_form_2" method="post">
            {% csrf_token %} <!--безопасность-->
            <div id="choose_condition">
                <input type="radio" id="student" name="condition" value="currently studying"/>
                <label for="male">Студент / выпускник</label>
                <input type="radio" id="staff" name="condition" value = "currently working"/>
                <label for="male">Сотрудник</label>
              </div>
            
            <br />
            <br />
            <span class="labels">Курс</span>
            <div class="number-selector">
               
                <input type="radio" id="number-1" name="number" value="1">
                <label for="number-1">1</label>
                <input type="radio" id="number-2" name="number" value="2">
                <label for="number-2">2</label>
                <input type="radio" id="number-3" name="number" value="3">
                <label for="number-3">3</label>
                <input type="radio" id="number-4" name="number" value="4">
                <label for="number-4">4</label>
                <input type="radio" id="number-5" name="number" value="5">
                <label for="number-5">5</label>
                <input type="radio" id="number-6" name="number" value="6">
                <label for="number-6">6</label>
              </div>
              <br>
              <div id="text_radio1">
              <input type="radio" id="check_finished" name="number" value="Уже окончил Вышку"> <label for="radio">Уже окончил Вышку</label>

              </div>
              <br>
              
              <label for="select1" class="labels">Ступень образования</label><br>
              <select id="select1" name="EducationStepField">
                <option style="display:none">Ступень образования</option>
                <option value="Бакалавриат">Бакалавриат</option>
                <option value="Магистратура">Магистратура</option>
                
              </select>
              <br>
              <br>
              <label for="select2" class="labels">Факультет</label><br>
              <select id="select2" name="FacultyField">
                <option style="display:none">Факультет</option>
                <option value="Высшая школа бизнеса">Высшая школа бизнеса</option>
                <option value="Факультет гуманитарных наук">Факультет гуманитарных наук</option>
                <option value="Факультет права">Факультет права</option>
                <option value="Факультет химиии">Факультет химиии</option>
                <option value="Факультет креативных индустрий">Факультет креативных индустрий</option>
                <option value="Факультет биологии и биотехнологи">Факультет биологии и биотехнологии</option>
                <option value="Факультет экономических нау">Факультет экономических наук</option>
                <option value="МИЭМ имени А.Н.Тихонов">МИЭМ имени А.Н.Тихонова</option>
                <option value="Факультет компьютерных наук">Факультет компьютерных наук</option>
                <option value="Факультет математики">Факультет математики</option>
                <option value="Школа инстранных языков">Школа инстранных языков</option>
                <option value="Школа дизайна">Школа дизайна</option>
                <option value="Факультет физики">Факультет физики</option>
                <option value="Институт когнитивных нейронаук">Институт когнитивных нейронаук</option>
                <option value="Институт торговой политики">Институт торговой политики</option>
              </select>
              <br />
              <br />
            

            <div class="placeholder-container">
              <input
              type="text"
              class="input_fields"
              placeholder=" "
              id="OP"
              name="OPField"
            />
            <label id="label_op">Образовательная программа</label>
            </div>  
            <span class="error-message" id="opError"></span>

            <br />
           
            <div class="placeholder-container">
              <input
              type="text"
              class="input_fields"
              placeholder=" "
              id="Work"
              name="WorkField"
            />
            <label id="label_work">Работа</label>
            </div>
            <span class="error-message" id="workError"></span>
           
            <br />
            <br />
            <br />  
            <br />
            <button id="button_continue_2">Продолжить</button>
          </form>
          <br />
          <br />
          <br />
          <br />
        </div>
        <div id="right_part">
            <span class="rdiv_text1">
                Так будет выглядеть твоя будущая страница
            </span>
            <br>
            <br>
            <div id="profile_preview">
                <div id="wrapper_profile_preview">
                    <div id="photo">
                        <div id="photo_replace">
                            
                        </div>
                        <button id="button_show_contacts">Показать контакты</button>
                    </div>
                    <div id="information">
                        <div id="inf_name"></div>
                        
                        <span id="inf_age" class="small_inf"></span> •
                        <span id="inf_age" class="small_inf"></span> •
                        <span id="inf_education" class="small_inf"></span>
                        <br>
                        <div id="inf_work"></div>
                        <div id="inf_personal"></div>
                        <div id="wrapper_add_inf"></div>
                    </div>
                </div>

            </div>
            <br>
            
            
            <div id="message2">
                
                <div class="foot_wrapper">
                    <div>
                        <span id="rdiv_text2">Расскажи где ты учишься</span><br><br>
                        <span id="rdiv_text3">
                            Часто студенты ищут соседей по схожим интересам
                    </span>
                    </div>
                    <div id="emoji1">
                        <img src="{% static 'img/emoji2.png' %}" width="35px"/>
                    </div>
                </div>
                
            </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      
    </main>

    <footer>
      <div class="grey_line"></div>
      <br /><br />
      <br /><br />
      <br /><br />
      <span id="footer_heading1">Support@homeet.com</span><br />
      <span id="footer_heading2">Техническая поддержка</span><br />
      <br />
      <br />
      <br />
      <div class="foot_wrapper">
        <div id="footer_id1">
          <span id="footer_heading3"
            >О сервисе          Контакты            Политика конфидециалности</span>
        </div>
        <div id="footer_id2">
          <a href="#"><img src="{% static 'img/telegram.png' %}" width="35px" /></a>
          <a href="#"><img src="{% static 'img/vk.png' %}" width="35px" /></a>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="small_line"></div>
      <br />
      <br />
      <br />
      <div class="foot_wrapper">
        <div class="footer_heading4">
            Предложение не является публичной офертой.<br />Сервис не несет ответственности за действия пользователей, достоверность информации и тд.
          </div>
        <div class="footer_heading4">
            Сделано в <b>бвср</b>
        </div>
      </div>
      
      <br>
      <br>
      <br>
      <br>
      
    </footer>
    <div class="big_line"></div>
    <script src="{% static 'js/profile_education.js' %}"></script>
  </body>
</html>
